<h1>Determination of Application <%= @application.application_identifier %></h1>
<p><b>Created At:</b> <%= @application.created_at %> &bull; <b>Updated At:</b> <%= @application.updated_at %></p>

<% unless @application.error_message.blank? %>
<div class="card bg-danger text-light p-2 mb-3">
  <h2>Error Details:</h2>
  <%= @application.error_message %>
</div>
<% end %>
<% unless @application_response_payload.blank? || @application.application_response_payload_json[:tax_households].nil? %>
<ul class="list-group list-group-horizontal mb-1">
  <li class="list-group-item <%= @application.irs_consent_details[:is_renewal_authorized] ? 'list-group-item-success' : 'list-group-item-warning' %>"><h5 class="m-0">IRS</h5></li>
   <% @application&.irs_consent_details&.each do |k, v| %>
    <li class="list-group-item"><b><%= k.to_s.humanize.titleize %>:</b> <%= v %></li>
  <% end %>
</ul>

<table class="table table-responsive table-overrides mb-2">
  <thead>
    <tr>
      <th>Member HBX</th>
      <th>Relationship</th>
      <th>Age</th>
      <th>SLCSP</th>
      <th>FPL %</th>
      <th>MAGI Medicaid Eligible</th>
      <th>APTC</th>
      <th>Expected Contribution %</th>
      <th>CSR</th>
      <th>Immigration Status</th>
      <th>Tax Filing Status</th>
    </tr>
  </thead>
  <tbody>
    <% @application.application_response_payload_json[:tax_households].each do |thh| %>
      <% thh[:tax_household_members].each do |thm| %>
        <% if thm[:product_eligibility_determination] %>
          <% magi_medicaid_or_chip = thm[:product_eligibility_determination][:is_magi_medicaid] || thm[:product_eligibility_determination][:is_medicaid_chip_eligible]%>
          <tr>
            <td><%= thm[:applicant_reference][:person_hbx_id] %></td>
            <td><%= @application.relationship_for(thm[:applicant_reference][:person_hbx_id]) %></td>
            <td><%= @application.age_of_applicant_for(thm[:applicant_reference][:person_hbx_id]) %></td>
            <% if @application.applicants_applying_for_coverage.include?(thm[:applicant_reference][:person_hbx_id]) %>
              <td><% benchmark = @application.benchmarks.detect{ |a| a[:member_identifier] == thm[:applicant_reference][:person_hbx_id]} %>
                <%= benchmark[:monthly_premium] if benchmark %>
              </td>
              <td><%= @application.aptc_households&.detect { |hh| thm[:applicant_reference][:person_hbx_id].in? (hh&.aptc_household_members&.map(&:member_identifier)) }&.fpl_percent  %>%</td>
              <td><%= magi_medicaid_or_chip %></td>
              <td><%= thh[:max_aptc] unless magi_medicaid_or_chip %></td>
              <td><%=  @application.aptc_households&.last&.contribution_percent unless magi_medicaid_or_chip %></td>
              <td><%= thm[:product_eligibility_determination][:csr] if thm[:product_eligibility_determination][:is_csr_eligible] %></td>
              <td><%= @application.citizen_status_for(thm[:applicant_reference][:person_hbx_id]) %></td>
              <td><%= @application.tax_filer_kind_for(thm[:applicant_reference][:person_hbx_id]) %></td>
            <% else %>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

<ul class="list-group list-group-horizontal mt-3 mb-3">
  <li class="list-group-item list-group-item-primary"><h5 class="m-0">FPL</h5></li>
  <li class="list-group-item"><b>APTC Year:</b> <%= @application.fpl_year %></li>
  <% @application.fpl.each do |k, v| %>
    <li class="list-group-item"><b><%= k.to_s.humanize.titleize %>:</b> <%= v %></li>
  <% end %>
</ul>

<h2>Payloads (click name to see in hide/show)</h2>
<div class="accordion mb-5">
  <div class="accordion_panel">
    <input type="checkbox" id="chck1" checked>
    <label class="accordion_panel-label" for="chck1"><h3>Application Request Payload (from Enroll)</h3></label>
    <div class="accordion_panel-content">
      <%= raw(ap(@application_request_payload)) %>
    </div>
  </div>
  <div class="accordion_panel">
    <input type="checkbox" id="chck2" checked>
    <label class="accordion_panel-label" for="chck2"><h3>Medicaid Request Payload (to MitC)</h3></label>
    <div class="accordion_panel-content">
      <%= raw(ap(@medicaid_request_payload)) %>
    </div>
  </div>
  <div class="accordion_panel">
    <input type="checkbox" id="chck3" checked>
    <label class="accordion_panel-label" for="chck3"><h3>Medicaid Response Payload (from MitC)</h3></label>
    <div class="accordion_panel-content">
      <%= raw(ap(@medicaid_response_payload)) %>
    </div>
  </div>
  <div class="accordion_panel">
    <input type="checkbox" id="chck4" checked>
    <label class="accordion_panel-label" for="chck4"><h3>Application Response Payload (to Enroll)</h3></label>
    <div class="accordion_panel-content">
      <%= raw(ap(@application_response_payload)) %>
    </div>
  </div>
</div>

<h2>APTC Households</h2>
<% if @application.aptc_households && @application.aptc_households.any? %>

<% @application.aptc_households.each do |household| %>
  <%= raw(ap(household.attributes, index: false)) %>
<% end %>

<% end %>
<hr>
<% if @application.other_factors %>
<h2>Other Factors</h2>
  <%= raw(ap(@application.other_factors, index: false)) if @application.other_factors  %>
<% end %>
<%= link_to "Determinations Report", medicaid_application_check_reports_path, class: 'btn btn-primary' %>
