<h1>Transfer to <%= @transfer.service %></h1>
<p>Created At: <%= @transfer.created_at %></p>
<p>Processed At: <%= @transfer.updated_at %></p>
<p>Transfer Status: <%= @transfer.failure.nil? ? 'Success' : 'Failure' %></p>
<p>Ingestion Status: <%= @transfer.callback_status %></p>
<p>Application Identifier: <%= @transfer.application_identifier %></p>
<p>Family Identifier: <%= @transfer.family_identifier %></p>

<% unless @transfer.failure.blank? %>
<div class="card bg-danger text-light p-2 mb-3">
  <h2>Failure Details:</h2>
  <%= @transfer.failure %>
</div>
<% end %>

<% unless @transfer.response_payload.blank? %>
<h2>Response Payload:</h2>
<%= raw(ap(JSON.parse(@transfer.response_payload))) %>
<% end %>

<% unless @transfer.callback_payload.blank? %>
<h2>Callback Payload:</h2>
<%= raw(ap(JSON.parse(@transfer.callback_payload))) %>
<% end %>

<%= link_to "See today's account transfers", account_transfers_reports_path %>