<h1>Transfer to <%= @transfer.service.upcase %></h1>
<p>Origin: <%= @transfer.from_cms ? "CMS" : "EA" %></p>
<p>Created At: <%= @transfer.created_at %></p>
<p>Processed At: <%= @transfer.updated_at %></p>
<p>Transfer Status: <%= @transfer.successful? ? 'Success' : 'Failure' %></p>
<p>Ingestion Status: <%= @transfer.callback_status %></p>
<p>Application Identifier: <%= @transfer.application_identifier %></p>
<p>Family Identifier: <%= @transfer.family_identifier %></p>

<% unless @transfer.failure.blank? %>
<div class="card bg-danger text-light p-2 mb-3">
  <h2>Failure Details:</h2>
  <%= @transfer.failure %>
</div>
<% end %>

<% unless @response_payload.blank? %>
<h2>Response Payload:</h2>
<%= raw(ap(@response_payload)) %>
<% end %>

<% unless @callback_payload.blank? %>
<h2>Callback Payload:</h2>
<%= raw(ap(@callback_payload)) %>
<% end %>

<% unless @outbound_payload.blank? %>
<h2>Payload from Enroll:</h2>
<%= raw(ap(@outbound_payload)) %>
<% end %>

<%= link_to "Received Transfers Report", account_transfers_reports_path, class: 'btn btn-primary' %>

<br>
<button class="btn btn-secondary mt-2" data-reflex="click->Report#log_reflex">
  Test Reflex
</button> 