<tr id="<%= "determination-row-#{determination.id}" %>">
    <td><%= determination.primary_hbx_id %></td>
    <td><%= determination.application_identifier %></td>
    <td><%= aptc_household_member.age_of_applicant %></td>
    <td><%= aptc_household_member.uqhp_eligible %></td>
    <td><%= aptc_household_member.aptc_eligible && aptc_household_member.csr_eligible %></td>
    <td><%= aptc_household.maximum_aptc_amount %></td>
    <td><%= aptc_household_member.csr %></td>
    <td><%= aptc_household_member.magi_medicaid_eligible %></td>
    <td>Non Magi</td><%# TODO: add field to thm? %>
    <td><%= aptc_household_member.totally_ineligible %></td>
    <td><%= determination.submitted_at %></td>
    <td>Full Medicaid Applied?</td><%# TODO: add field based on full_medicaid_determination ? %>
    <td>Blind</td><%# TODO %>
    <td>Disabled</td><%# TODO %>
    <td>Help With Daily Living</td><%# TODO %>
    <td> 
        <%= link_to 'Details', determination, class: 'btn btn-primary btn-sm' %>
    </td>
</tr>