<tr id="<%= "inbound-transfer-row-#{transfer.id}" %>">
    <td class="<%= transfer.successful? ? 'table-success' : 'table-danger' %>"><%= transfer.successful? ? "Success" : "Failure" %></td>
    <td><%= transfer.updated_at %></td>
    <td><%=  transfer.external_id.split("_").last if transfer.external_id.present? %></td>
    <td><%= transfer.family_identifier %></td>
    <td><%= transfer.application_identifier %></td>
    <td><span class="fw-bold"><%= transfer.result %></span><%= " - #{transfer.failure}" unless transfer.failure.nil? %></td>
    <td><%= transfer.to_enroll ? MedicaidGatewayRegistry[:transfer_service].item.upcase : "CMS" %></td>
    <td>
        <%= link_to "Details", transfer, class: 'btn btn-primary' %>
        <% if transfer.resubmittable? %>
            <br/>
            <button class="btn btn-secondary mt-2" data-reflex="click->Report#resubmit_to_enroll" data-payload="<%= transfer.payload %>" data-id="<%= transfer.id %>">
                Resubmit
            </button> 
        <% end %>
    </td>
</tr>