<tr id="<%= "transfer-row-#{transfer.id}" %>">
    <td class="<%= transfer.successful? ? 'table-success' : 'table-danger' %>"><%= transfer.successful? ? "Success" : "Failure" %></td>
    <td><%= transfer.created_at %></td>
    <td><%= transfer.family_identifier %></td>
    <td><%= transfer.application_identifier %></td>
    <td>
        <% if transfer.service =="curam" && transfer.callback_status.blank? %>
            <div data-reflex="click->Report#check_payload" data-id="<%= transfer.id %>">
                <button class="btn btn-secondary">Check Payload</button>
            </div>
        <% else %>
            <%= transfer.callback_status %>
        <% end %>
    </td>
    <td>
        <% if transfer.from_cms %>
            CMS
        <% else %>
            EA
        <% end %>
    </td>
    <td>
        <%= link_to "Details", transfer, class: 'btn btn-primary' %>
        <% if transfer.resubmittable? %>
            <br/>
             <%= button_to 'Resubmit', resubmit_to_service_reports_path(id: transfer.id), method: :put, class: 'btn btn-secondary mt-2'%> 
        <% end %>
    </td>
</tr>