<table>
	<thead>
		<th>Service</th>
		<th>Creation Date</th>
		<th>Family HBX Id</th>
		<th>Application HBX Id</th>
		<th>Response</th>
	</thead>
	<tbody>
		<% @transfers.each do |transfer| %>
			<tr>
				<td><%= transfer.service %></td>
				<td><%= transfer.created_at %></td>
				<td><%= transfer.family_identifier %></td>
				<td><%= transfer.application_identifier %></td>
				<td style="max-width: 800px"><%= transfer.response_payload %></td>
			</tr>
		<% end %>
	</tbody>
</table>