<h1>Account Transfers To Enroll</h1>
<p><%= @range %></p>
<table class="table table-striped table-responsive"  style="table-layout:fixed; width:100%; word-wrap: break-word;">
	<thead>
		<th>Transfer Status</th>
		<th>Creation Date</th>
		<th>Transfer ID</th>
		<th>Family HBX Id</th>
		<th>Application HBX Id</th>
		<th>Ingestion Status</th>
		<th></th>
	</thead>
	<tbody>
		<% @transfers.each do |transfer| %>
			<tr>
				<td class="<%= transfer.failure.nil? ? 'table-success' : 'table-danger' %>"><%= transfer.failure.nil? ? 'Sucess' : 'Failure' %></td>
				<td><%= transfer.created_at %></td>
				<td><%= transfer.external_id %></td>
				<td><%= transfer.family_identifier %></td>
				<td><%= transfer.application_identifier %></td>
				<td><%= transfer.result %></td>
				<td><%= link_to "Details", transfer, class: 'btn btn-primary' %></td>
			</tr>
		<% end %>
	</tbody>
</table>