<h1>Account Transfers To <%= MedicaidGatewayRegistry[:transfer_service].item.upcase %></h1>
<%= render partial: "date_range", locals: {start_on: @start_on, end_on: @end_on, session_name: "atp_"} %>
<table class="table table-striped table-responsive table-overrides">
	<thead>
		<th>Transfer Status</th>
		<th>Created At</th>
		<th>Family HBX Id</th>
		<th>Application HBX Id</th>
		<th>Ingestion Status</th>
		<th></th>
	</thead>
	<tbody>
		<% @transfers.each do |transfer| %>
			<tr>
				<td class="<%= transfer.successful? ? 'table-success' : 'table-danger' %>"><%= transfer.successful? ? "Success" : "Failure" %></td>
				<td><%= transfer.created_at %></td>
				<td><%= transfer.family_identifier %></td>
				<td><%= transfer.application_identifier %></td>
				<td>
					<% if transfer.service =="curam" && transfer.callback_status.blank? %>
						<div data-reflex="click->Report#check_payload" data-id="<%= transfer.id %>">
							<button class="btn btn-secondary">Check Payload</button>
						</div>
					<% else %>
						<%= transfer.callback_status %>
					<% end %>
				</td>
				<td><%= link_to "details", transfer, class: 'btn btn-primary' %></td>
			</tr>
		<% end %>
	</tbody>
</table>