<h1>Events</h1>
<%= render partial: "date_range", locals: {start_on: @start_on, end_on: @end_on} %>
<table class="table table-striped table-responsive"  style="table-layout:fixed; width:100%; word-wrap: break-word;">
	<thead>
		<th>Status</th>
		<th>Type</th>
		<th>Created At</th>
		<th>Application Identifier</th>
	</thead>
	<tbody>
		<% @events.each do |event| %>
			<tr>
				<td class="<%= event[:success] ? 'table-success' : 'table-danger' %>"><%= event[:success] ? "Success" : "Failure" %></td>
				<td><%= event[:type] %></td>
				<td><%= event[:created_at] %></td>
				<td><%= event[:app_id] %></td>
			</tr>
		<% end %>
	</tbody>
</table>