<h1>Mec Checks</h1>
<h2 class="text-muted mb-1"><%= @checks.count %> checks during this range</h2>
<ul class="list-inline h4 mb-3 text-muted">
  <li class="list-inline-item text-success"><%= @success_count %> Successful</li>
  <li class="list-inline-item text-danger"><%= @fail_count %> Failures</li>
</ul>
<%= render partial: "date_range", locals: {start_on: @start_on, end_on: @end_on, session_name: "mc_sent_"} %>
<table class="table table-striped table-overrides" data-controller="reports" data-reports-channel="MecChecksChannel">
	<thead>
		<th>Result</th>
		<th>Application ID</th>
		<th>Family HBX ID</th>
		<th>Result Details</th>
		<th>Checked On</th>
	</thead>
	<tbody>
		<% @checks.each do |check| %>
			<%= render partial: "mec_check_row", locals: { check: check } %>
		<% end %>
	</tbody>
</table>

<%= paginate @checks %>