<h1>Mec Checks</h1>
<label for="start_on">Start On:</label>
<input type="date" id="start_on" name="start_on" value="<%= @start_on %>" data-reflex="input->Report#change_date" data-session="mc_sent_start">
<label for="end_on">End On:</label>
<input type="date" id="end_on" name="end_on" value="<%= @end_on %>" data-reflex="input->Report#change_date" data-session="mc_sent_end"></input>
<table class="table table-striped">
	<thead>
		<th>Result</th>
		<th>Application ID</th>
		<th>Family HBX ID</th>
		<th>Result Details</th>
		<th>Checked On</th>
	</thead>
	<tbody>
		<% @checks.each do |check| %>
			<tr >
				<td class="<%= check.successful? ? 'table-success' : 'table-danger' %>"><%= check.successful? ? "Success" : "Failure" %></td>
				<td><%= check.application_identifier %></td>
				<td><%= check.family_identifier %></td>
				<td style="max-width: 800px">
					<% unless check.failure.nil? %>
						<%= check.failure %>
					<% end %>
					<% unless check.applicant_responses.nil? %>
						<% JSON.parse(check.applicant_responses.to_json).each_with_index do |resp, i| %>
							<%= raw("<br />") unless i ==0 %>
							Person <%= resp[0] %>: <%= resp[1] %> 
						<% end %>
					<% end %>
				</td>
				<td><%= check.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>