<h1>Determinations</h1>
<label for="app">Application Search</label>
<div class="input-group mb-3">
  <input name="app" id="app" data-controller="report" data-action="report#app_search" value="<%= @app %>" list="apps">
  <div class="input-group-append">
    <button type="button" class="btn btn-warning" data-controller="report" data-action="report#clear_search">Clear Search</button>
  </div>
</div>
<datalist id="apps">
  <option value=""></option>
  <% @application_ids.each do |id| %>
    <option value="<%= id %>"><%= id %></option>
  <% end %>
</datalist>

<h2 class="text-muted mb-3"><%= @applications.count %> determinations during this range</h2>
<%= render partial: "date_range", locals: {start_on: @start_on, end_on: @end_on, session_name: 'ma_'} %>
<table class="table table-striped table-responsive mt-3 table-overrides">
	<thead>
		<tr>
			<th>Status</th>
			<th>Application Identifer</th>
			<th>Updated At</th>
            <th>Link</th>
		</tr>
	</thead>
	<tbody>
		<% @applications.each do |application| %>
			<%= render partial: "determination_row", locals: { determination: application } %>
		<% end %>
	</tbody>
</table>

<%= paginate @applications %>