<h1>Determinations</h1>
<%= render partial: "date_range", locals: {start_on: @start_on, end_on: @end_on} %>
<table class="table table-striped table-responsive mt-3" style="table-layout:fixed; width:100%; word-wrap: break-word;">
	<thead>
		<tr>
			<th>Application Identifer</th>
			<th>Medicaid Request Payload</th>
			<th>Medicaid Response Payload</th>
			<th>Application Request Payload</th>
            <th>Application Response Payload</th>
            <th>Other Computed Factors</th>
		</tr>
	</thead>
	<tbody>
		<% @applications.each do |application| %>
			<tr>
				<td>
				  <%= application.application_identifier %>
				  <%= link_to 'Details', application, class: 'btn btn-primary' %>
				</td>
				<td><div class="long-payload"><%= application.medicaid_request_payload %></div></td>
				<td><div class="long-payload"><%= application.medicaid_response_payload %></div></td>
				<td><div class="long-payload"><%= application.application_request_payload %></div></td>
				<td><div class="long-payload"><%= application.application_response_payload %></div></td>
				<td><div class="long-payload"><%= application.other_factors %></div></td>
			</tr>
		<% end %>
	</tbody>
</table>
