<table>
	<thead>
		<tr>
			<th>Application Identifer</th>
			<th>Medicaid Request Payload</th>
			<th>Medicaid Response Payload</th>
			<th>Application Request Payload</th>
            <th>Application Response Payload</th>
            <th>Other Computed Factors</th>
		</tr>
	</thead>
	<tbody>
		<% @applications.each do |application| %>
			<tr>
				<td><%= application.application_identifier %></td>
				<td><%= application.medicaid_request_payload %></td>
				<td><%= application.medicaid_response_payload %></td>
				<td><%= application.application_request_payload %></td>
				<td><%= application.application_response_payload %></td>
				<td><%= application.other_factors %></td>
			</tr>
		<% end %>
	</tbody>
</table>