<h1>Determinations</h1>
<h2><% if @application_id %>Only showing those with application id of <%= @application_id %><% end %></h2>
<h2 class="text-muted mb-3"><%= @applications.count %> determinations during this range</h2>
<%= render partial: "date_range", locals: {start_on: @start_on, end_on: @end_on, session_name: 'ma_'} %>
<table class="table table-striped table-responsive mt-3 table-overrides">
	<thead>
		<tr>
			<th>Status</th>
			<th>Application Identifer</th>
			<th>Updated At</th>
            <th>Link</th>
		</tr>
	</thead>
	<tbody>
		<% @applications.each do |application| %>
			<tr>
				<td class="<%= application.successful? ? 'table-success' : 'table-danger' %>"><%= application.successful? ? "Success" : "Failure" %></td>
				<td>
				  <%= application.application_identifier %>
				</td>
				<td><%= application.created_at %></td>
				<td><%= link_to 'Details', application, class: 'btn btn-primary' %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @applications %>