<h1>Periodic Data Match Mec Checks</h1>
<h2 class="text-muted mb-1"><%= @pdm_checks.count %> checks during this range</h2>
<ul class="list-inline h4 mb-3 text-muted">
  <li class="list-inline-item text-success"><%= @success_count %> Successful</li>
  <li class="list-inline-item text-danger"><%= @fail_count %> Failures</li>
</ul>
<div class="col mb-2 search-form">
  <%= form_tag(periodic_data_match_mec_reports_path, method: :get) do %>
    <label for="app">Application Id:</label>
    <%= text_field_tag :app, params[:app], value: params[:app] %>
    <label for="person">Person Id:</label>
    <%= text_field_tag :person, params[:person], value: params[:person] %>
    <label for="key">Key:</label>
    <%= select_tag "key", options_for_select([[''], ['Request', 'application_mec_check_request'], ['Response', 'application_mec_check_response']], include_blank: true, selected: @search_key) %>
    <label for="start_on">Start On:</label>
    <%= date_field_tag :start_on, params[:start_on], value: @start_on %>
    <label for="end_on">End On:</label>
    <%= date_field_tag :end_on, params[:end_on], value: @end_on %>
    <%= submit_tag("Search", name: nil, class: 'btn btn-primary') %>
    <%= link_to "Clear Search", periodic_data_match_mec_reports_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
<table class="table table-striped table-overrides">
	<thead>
		<th>Status</th>
    <th>Key</th>
		<th>Application ID</th>
		<th>Person HBX ID</th>
		<th>Result Details</th>
		<th>Checked On</th>
	</thead>
	<tbody>
		<% @pdm_checks.each do |check| %>
			<tr >
				<td class="<%= check.succeeded? ? 'table-success' : 'table-danger' %>"><%= check.process_status.latest_state %></td>
				<td><%= check.key.to_s.split('_').last.capitalize %></td>
				<td><%= check.transactions_transmissions.last.transmission.transmission_id %></td>
				<td><%= check.transaction_id %></td>
				<td style="max-width: 800px">
          <%= check.mec_response_ui %>
				</td>
				<td><%= check.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @pdm_checks %>
