<!DOCTYPE html>
<html>
  <head>
    <title>MedicaidGateway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
      <div class="container">
        <a class="navbar-brand" aria-current="page" href="/">Medicaid Gateway</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">              
            <li class="nav-item">
              <a class="nav-link" href="/reports/transfer_summary">Transfer Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/account_transfers">Transfers Sent</a>
            </li>
            <% if Medicaid::Application.all.any? %>
              <% if MedicaidGatewayRegistry.feature_enabled?(:transfer_to_enroll) %>
                <li class="nav-item">
                  <a class="nav-link" href="/reports/account_transfers_to_enroll">Transfers Received</a>
                </li>
              <% end %>
              <% if MedicaidGatewayRegistry.feature_enabled?(:mitc_determination) %>
                <li class="nav-item">
                  <a class="nav-link" href="/reports/medicaid_application_check">Determinations</a>
                </li>
              <% end %>
              <% if MedicaidGatewayRegistry.feature_enabled?(:mec_check) %>
                <li class="nav-item">
                  <a class="nav-link" href="/reports/mec_checks">MEC Checks</a>
                </li>
              <% end %>
            <% end %>         
          </ul>
          <% if !@stimulus_reflex && user_signed_in? %>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="container">
      <% if notice %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>    
  </body>
</html>
